*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* Adventurer chess font TTF from http://www.chessvariants.com/d.font/ */
@font-face {
    font-family: adventure_chess;
    src: url(./AVENFONT.ttf);
    
}

body {
    height: 100vh;
    padding: 0vh 0vw;
    text-align: center;
    background: #7ed1a1;
    font-family: 'Concert One', cursive;
}
header {
    display: flex;
    flex-direction: row;
    padding: 0vh 0vw;
    margin-bottom: 3vh;
    background: rgb(76,76,76); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
    box-shadow: -2px 2px 2px #000;
      
}

#logo-wrapper {
    padding: 0vh 5vw;
    padding-left: 5vw;
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    
    transform: skewX(-20deg);
    margin-left: -2vw;
    margin-top: -1vh;
    border: 1px solid #333;
    
    margin-right: 20vw;
}
h1 {
    font-size: 2em;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-weight: 100;
    font-family: 'Kavoon', cursive;
    margin-right: 1vw;
    color: #FFF;
}

h2 {
    margin-top: 10vh;
    font-size: 1.5em;
    margin-bottom: 4vh;
}
#menubtn {
    margin-bottom: 3vh;
    font-size: 1.1em;
    padding: 1vh 2vw;
    position: absolute;
    right: 1vw;
    top: 2vh;
    color: #FFF;
    text-decoration: none;
    line-height: 1.2em;
    background: rgba(192,192,192,0.3);
    border-radius: 10px;
    transform: skewX(-20deg);
    
}

#github {
    margin-bottom: 3vh;
    font-size: 1.1em;
    padding: 1vh 2vw;
    position: absolute;
    right: 15vw;
    top: 2vh;
    color: #FFF;
    text-decoration: none;
    line-height: 1.2em;
    background: rgba(192,192,192,0.3);
    border-radius: 10px;
    transform: skewX(-20deg);
}

#github:hover,
#menubtn:hover {
    background: rgba(32, 124, 202, 0.3);
}

#menu-screen button {
    margin-bottom: 3vh;
    font-size: 1.1em;
    padding: 2vh 1vw;
    background: #ddd;
    border: 1px solid #111;
}


#menu-screen {
    /*TODO: set up JS to change visibility */
}

#game-screen {
    visibility: hidden;
}

#board-container {
    padding: 0 6vw;
    background: #7ed1a1;
    height: 65vh;
    margin-bottom: 3vh;
}

#board {
    padding: 1vw 5px;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(8, 1fr);
    height: 100%;
    
}

.cell {
    margin: 0;
    vertical-align: center;
    background: #65D5E5;
    border: 1px solid #000;
    width: 100%;
    height: 100%;
}

.even {
    background: #e5d565;
}

.odd {
    background: #65D5E5;
}

.cell i {
    font-family: adventure_chess;
    font-size: 2em;
    font-style: normal;
}

.white {
    color: #000;
}

.black {
    color: #000;
}

.invisible {
    visibility: hidden;
    position: relative;
    z-index: -1;
}

#control-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-bottom: 3vh;
}

#control-container button {
    margin-right: 2vw;
    padding: 1vh;
    border: 1px solid #000;
    border-radius: 5px;
    background: #ddd;
    box-shadow: 1px 1px 1px #999;
    font-size: 1.5em;
    
}

#control-container button:hover {
    background: #999;
    color: #65D5E5;
}

#pturn-container {
    font-size: 1.5em;
}

